* {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
  color: navy;
}

h2 {
  font-weight: 800;
  color: navy;
}

section .container {
  padding: 10px 10px;
}

section.darkbg {
  padding: 30px;
  background-color: #051643;
}

.hide {
  display: none;
}

section {
  padding: 30px;
}

h1.section-title-heading {
  color: gold;
  text-transform: none;
  font-weight: 700;
  font-size: 2rem;
  margin-top: -10px;
  padding-bottom: 2rem;
  position: relative;
}

.navbar-dark {
  background-color: #051643;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
  font-size: 13px;
  color: gold;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  background-color: gold;
  color: #051643;
  transition: ease-out 0.7s;
}

.navbar-dark ul li {
  padding: 0.3rem;
}

.navbar-dark ul li a i {
  margin-right: 5px;
}

.navbar-nav a {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-light {
  position: absolute;
  margin: 50px 0 0 0;
  padding: 0;
  width: 100%;
  z-index: 10;
  max-width: 100%;
}

.navbar-brand img {
  height: 3.5rem;
}

.navbar-light h6 {
  display: inline-block;
  color: #ffffff;
  font-size: 23px;
  margin: 0.5rem 0 0 -0.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 2px;
}

.navbar-light .navbar-brand:hover {
  color: gold;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: gold;
}

.navbar-light .navbar-nav .nav-link {
  margin: 0;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: gold;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: 0.2rem 2rem;
}

.nav-link.active,
.nav-link:focus {
  color: #fff !important;
}

.dropdown .dropdown-menu .dropdown-submenu a:hover {
  color: #051643;
}

.dropdown .dropdown-menu .dropdown-submenu .dropdown-item {
  color: #fff;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
  background: rgba(0, 0, 0, 0.4);
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  background-color: gold;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}
/*============= CAROUSEL ================*/

.carousel-item {
  height: 60vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: contain;
  background-size: contain;
}

.carousel-item img {
  height: 100%;
  width: 100%;
}

.carousel-caption {
  margin-bottom: 5%;
  padding: 20px 50px;
}

.carousel-caption h2 {
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
}

.carousel-caption h3 {
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
}

.carousel-caption p {
  color: #fff;
  font-size: 15px;
}

.btn-primary {
  background: #051643;
  border-color: transparent !important;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  padding: 8px 20px !important;
  width: 200px;
  text-align: center;
  margin: 10px 15px;
}

.btn-primary:hover {
  background: #051643;
  color: gold;
}

.drk:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.4;
}

/*============= WELCOME ================*/
#welcome h1 {
  margin: 0px 0px -20px 50px;
}

#welcome h3.welcome-text {
  color: navy;
  margin-bottom: 1rem;
}

#welcome .col-md-7 {
  padding-left: 2rem;
  padding-right: 2rem;
}

#welcome img {
  margin: 8px 0px 20px -200px;
  height: 500px;
  width: 670px;
}

#welcome p {
  font-size: 18px;
}
/*============= SERVICES ================*/

#services .card-body {
  background-color: #051643;
}

#services .card {
  margin-top: 10px;
  width: 100%;
  border: none;
  box-shadow: 0px 2px 20px 0px rgba(110, 130, 208, 0.7);
}

#services .card img {
  height: 100%;
  width: 100%;
}

#services .card .card-body h5 {
  color: gold;
}

#services .card .card-body p {
  font-size: 15px;
  color: #fff;
}

#services .card .card-body a {
  font-size: 1rem;
  color: orange;
}

/*============= CORE VALUES ================*/

#values .section-title-heading {
  margin-bottom: 20px;
}

#values img {
  margin-left: -20px;
  height: 9rem;
  width: 9rem;
}

#values h4 {
  color: navy;
  font-weight: 600;
}

#values p {
  font-size: 18px;
}

/*============= PROCESS ================*/

#process .col-md-4 {
  padding: 1rem;
}

#process img {
  height: 11rem;
  width: 10rem;
  padding-bottom: 5px;
}

#process p {
  font-size: 18px;
}

#process h4 {
  color: navy;
  font-weight: 600;
  text-align: center;
}

/*============= JUMBOTRON ================*/

#message {
  margin: 0;
  padding: 0;
  height: 40vh;
  background: #fff;
  position: relative;
  overflow: hidden;
  margin: -10px 0px 0px 0px;
}

.road {
  height: 85px;
  width: 500%;
  display: block;
  background-image: url(/src/img/car/road.png);
  position: absolute;
  top: 300px;
  bottom: 0;
  right: 0;
  right: 0px;
  z-index: 1;
  background-repeat: repeat;
  animation: road 40s linear infinite;
}

@keyframes road {
  100% {
    transform: translateX(3400px);
  }
}

.skyline {
  height: 190px;
  width: 500%;
  display: block;
  margin-bottom: 50px;
  background-image: url(/src/img/car/skyline.png);
  position: absolute;
  top: 110px;
  bottom: 0;
  right: 0;
  right: 0px;
  background-repeat: repeat-x;
  background-size: contain;
  animation: skyline 50s linear infinite;
}

@keyframes skyline {
  100% {
    transform: translateX(1000px);
  }
}

.van img {
  width: 400px;
  height: 210px;
  left: 20%;
  bottom: 10px;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
}

.wheels {
  left: 13%;
  bottom: 26%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 5;
}

.wheels img {
  width: 50px;
  height: 50px;
  animation: wheel 1.3s linear infinite;
}

.front-wheel {
  left: 12px;
  position: absolute;
}

.back-wheel {
  position: absolute;
  left: 202px;
}

@keyframes wheel {
  100% {
    transform: rotate(-360deg);
  }
}

P.lead {
  color: #fff;
  position: absolute;
  margin-left: 600px;
  margin-top: 225px;
  font-size: 15px;
}

P.lead span {
  font-weight: 1000;
  font-size: 20px;
  color: gold;
}

/*============= TESTIMONIES ================*/

/*============= TESTIMONIES ================*/

#testimonies {
  padding: 30px 80px;
  height: 45vh;
}

#testimonies h1 {
  margin: 0px 0px -20px 50px;
  color: #051643;
}

#testimonies .testi-item {
  margin-top: 10px;
  height: 25vh;
  border: 2px dashed #051643;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(5, 22, 67, 1);
}

#testimonies .client-info {
  position: relative;
  min-height: 60px;
  top: 10px;
  left: 15px;
}

#testimonies .client-info h5 {
  font-size: 1.5rem;
  font-weight: 1000;
  margin: 0;
  line-height: 3rem;
  color: orange;
}

#testimonies .client-img {
  height: 13vh;
  width: 7vw;
  border: 3px solid orange;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 30px;
}

#testimonies .client-info p {
  font-size: 1rem;
  line-height: 1.8rem;
  color: #fff;
  font-weight: 400;
  margin: -10px 0 10px;
  font-style: italic;
}

#testimonies .client-info p .fa-quote-left {
  margin-right: 3px;
  font-size: 0.9rem;
}

#testimonies .client-info p .fa-quote-right {
  margin-left: 3px;
  font-size: 0.9rem;
}

#testimonies .client-info .stars {
  margin: 0 0 20px;
}

#testimonies .client-info .stars li {
  display: inline-block;
  margin: 0 1px;
}

#testimonies .client-info .stars li i {
  font-size: 13px;
  color: gold;
}

#testimonies .owl-carousel .owl-nav {
  text-align: center;
  margin-top: 30px;
}

#testimonies .owl-carousel .owl-nav button.owl-next:focus,
#testimonies .owl-carousel .owl-nav button.owl-prev:focus {
  outline: none;
}

#testimonies .owl-carousel .owl-nav button.owl-next,
#testimonies .owl-carousel .owl-nav button.owl-prev {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
  color: gold;
  font-weight: 500;
  overflow: hidden;
  background-color: #051643;
  transition: all 0.5 ease;
}

#testimonies .owl-carousel .owl-nav button.owl-next:hover,
#testimonies .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #fff;
  color: #051643;
  border: 1px solid #051643;
}

#testimonies .owl-carousel .owl-nav button.owl-next span,
#testimonies .owl-carousel .owl-nav button.owl-prev span {
  font-size: 40px;
  margin-top: -13px;
  display: block;
}

/*============= CONTACT ================*/

#contact {
  height: 50vh;
  background-image: url(/src/img/contact.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#contact h1 {
  margin-top: -20px;
  margin-left: 15px;
}

#contact .contact-form {
  margin-top: -25px;
  padding: 0px 20px;
}

#contact .col-md-6 .form-group,
#contact .col-md-12 .form-group {
  margin: 0px -5px 0px -5px;
}

#contact .col-md-6 .form-group input {
  margin: 5px 0px 15px 0px;
}

#contact .col-md-12 .form-group input {
  margin: 0px 0px 15px 0px;
}

#contact .btn-outline-warning {
  font-size: 15px;
  font-weight: 800;
  border-radius: 10px;
  padding: 8px 10px !important;
  width: 200px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: -10px;
  margin-left: 890px;
}

#contact .btn-outline-warning:hover {
  background: gold;
  color: #252378;
  font-weight: 800;
}

/*============= FAQS ================*/

#faqs {
  height: auto;
  background: url(../img/faqs.png);
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

#faqs h1 {
  color: #051643;
  margin-bottom: -15px;
}

#faqs .card,
#faqs .card-header {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin-bottom: 0px;
}

#faqs .card {
  box-shadow: 0 2px 20px 0 rgba(5, 22, 67, 0.3);
}

#faqs .btn-link {
  width: 100%;
  height: 60px;
  text-align: left;
  text-decoration: none;
}

#faqs .btn-link h6 {
  color: #051643;
  font-weight: 600;
}

#faqs .btn-link:after {
  content: '\2212';
  width: 35px;
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
  right: 15px;
  top: 11px;
  position: absolute;
  color: gold;
  background-color: #051643;
}

#faqs .btn-link.collapsed:after {
  content: '\002B';
  color: gold;
}

#faqs .accordion .card-body {
  background: #e8eeff;
}

#faqs .accordion .card-body p {
  font-size: 16px;
}

/*============= FOOTER ================*/
footer {
  height: 36vh;
  background-color: #232b2b;
  padding: 20px;
  margin: 0;
  padding: 30px;
}

footer .col-12 {
  padding: 0%;
  margin: 20px 0;
}

footer h6 {
  color: gold;
}

p.social-text {
  font-size: 14px;
  color: #fff;
}

footer .contact-item {
  color: gold;
  margin-left: 5px;
}

footer .contact-item p {
  font-size: 14px;
  font-weight: 200;
  color: #fff;
}

footer .contact-item .icon i span {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 700;
  margin: 5px;
}

footer .quick-links ul {
  margin-left: 10px;
  list-style: none;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
}

footer .quick-links ul li:hover {
  color: gold;
  cursor: pointer;
}

footer .col-md-4 iframe {
  margin-top: 5px;
}

p.footer-text span {
  font-size: 15px;
  color: #fff;
  margin-bottom: 0;
}

p.footer-text {
  color: gold;
  font-size: 15px;
  margin-bottom: 0;
}

footer .footer-social-icons {
  width: 100%;
  height: auto;
  margin: auto;
}

footer .footer-social-icons ul {
  margin: 0px 10px;
  padding: 0;
  text-align: right;
}

footer .footer-social-icons ul li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0px 10px;
  border-radius: 100%;
  padding: 0;
  margin: 0px 8px;
}

footer .footer-social-icons ul li a {
  color: gold;
  font-size: 20px;
  display: block;
}

footer .footer-social-icons ul li a i:hover {
  cursor: pointer !important;
}
