section {
  height: 50vh;
}

h2.section-title-heading {
  color: navy;
  padding-top: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
}

/*============= NAV BAR ================*/
.navbar-dark {
  background-color: navy;
}

.navbar-brand img {
  height: 5rem;
  margin-left: 10px;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}

/*============= CAROUSEL ================*/

.carousel-inner {
  height: 45vh;
}

.carousel-caption {
  margin-bottom: 5%;
  padding: 20px 80px;
}

.carousel-caption h2 {
  font-size: 50px;
  text-transform: uppercase;
}

.carousel-caption h3 {
  font-size: 25px;
  text-transform: uppercase;
}

.carousel-caption p {
  font-size: 15px;
}

.btn-primary {
  background: navy;
  border-color: transparent !important;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  padding: 8px 20px !important;
  width: 200px;
  text-align: center;
  margin: 10px 15px;
}

.btn-primary:hover {
  background: navy;
  color: gold;
}

.drk:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.1;
}

.ccd {
  background: rgba(0, 0, 0, 0.5);
}

/*============= STRAPLINE ================*/
#strapline {
  margin: 20px 0px 0px 0px;
}

#strapline h1 {
  font-size: 35px;
  font-weight: 900;
}

#strapline li {
  margin-left: -40px;
  font-size: 16px;
  list-style: none;
}
#strapline li:before {
  content: '\2713';
  margin-right: 10px;
  font-weight: 1000;
}

#strapline img {
  height: 32vh;
  margin-left: 200px;
}

/*============= SERVICES ================*/

#services {
  margin: 100px;
}
